# Editors #
## Visual Studio Code ##
### Workspace Folder ###
.vscode/*

### Exceptions ###
!.vscode/extensions.json
!.vscode/launch.json
!.vscode/tasks.json

# Logs #
*.log*

# Minecraft #
## Mods ##
mods/

## Client Files ##
.mixin.out/
crash-reports/
logs/
natives/
patchouli_books/
patchouli_data.json
Xaero*/
tconplanner/
config/sodium-*
config/dynamic_lights_reforged.toml
config/magnesium_extras.toml
config/xaerominimap.txt
config/xaeropatreon.txt
config/xaeroworldmap.txt
config/jei/bookmarks.ini
pregen/
config/roadrunner/

## User Files ##
backups/
paintings/
local/
resourcepacks/
saves/
screenshots/
shaderpacks/
schematics/
config.json
hotbar.nbt
knownkeys.txt
options*.txt
reauth.toml
servers.dat*
usercache.json
usernamecache.json

## Misc. ##
themes/
*.bak
